/* app css stylesheet */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya'), local('Alegreya-Regular'), url(http://themes.googleusercontent.com/static/fonts/alegreya/v4/MYFQxfgoxFvFirdbdLj3M3YhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Bold'), local('Alegreya-Bold'), url(http://themes.googleusercontent.com/static/fonts/alegreya/v4/F5BSMOSf_T8GT2wiqqpj3brIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Italic'), local('Alegreya-Italic'), url(http://themes.googleusercontent.com/static/fonts/alegreya/v4/Q-XbT1m22Fi9BEKb7y59O73hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Alegreya';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Bold Italic'), local('Alegreya-BoldItalic'), url(http://themes.googleusercontent.com/static/fonts/alegreya/v4/IWi8e5bpnqhMRsZKTcTUWnbFhgvWbfSbdVg11QabG8w.woff) format('woff');
}

* { margin: 0; padding: 0; color: #444; background: #F9F9F9; font-size: 20px; line-height: 30px; font-family: "Alegreya",Palatino,Georgia,serif; }
h1, h2, h3, h4, h5, h6, p, ul, ol, pre { margin-bottom: 20px;}
h1 {font-size: 2em;}
h2 { font-size: 1.75em;}
h3 { font-size: 1.5em;}
h4 { font-size: 1.25em;}

.banner { font-size: 1em; font-weight: normal; }
.banner a { color: #CCC; }
a { text-decoration: none; color: #666; }

.post { margin: 50px 0; min-height: 300px; }

.container { max-width: 600px; margin: 0 auto; padding: 0 1em; margin-top: 50px; }

ul, ol { margin-left: 1em; }

footer { color: #CCC; }
footer a { color: #AAA; text-decoration: none; }